---
layout: default
title: Computer Science
weight: 0
---

<div class="home">

    <div class="row section">
        <div class="col-md-8 col-sm-7">
            <div class="about">
                <div class="bio">
                    I am a researcher at Apple, applying machine learning to improve accessibility in technology.
                </div>
                <div class="edu">
                    I received my PhD at the <a href="http://cs.washington.edu">University of Washington</a> with an NSF fellowship and Microsoft Research PhD fellowship, advised by <a href="https://www.cs.washington.edu/people/faculty/shwetak">Shwetak Patel</a> in the <a href="http://ubicomplab.cs.washington.edu">Ubiquitous Computing Lab</a>. My PhD research focused on integrating HCI, ML, and computer vision to improve access to medical care with low-cost commodity hardware and mobile phones. Outcomes of my PhD work are under active commercial development and have already begun to change medical standards of care.
                </div>
                <div class="edu">
                    I graduated from Harvey Mudd College in 2012 as a <a href="https://www.hmc.edu/admission/afford/scholarships-and-grants/merit-based-scholarships/presidents-scholars-program/">President's Scholar</a> with a bachelors degree in <a href="https://www.cs.hmc.edu/">Computer Science</a>. I conducted research with <a href="https://www.cs.hmc.edu/~dodds/">Zach Dodds</a> in Computer Vision for Robotics and <a href="https://sites.google.com/a/eng.ucsd.edu/alvarado/home">Christine Alvarado</a> in HCI and Computer Vision.
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-5 portrait">
            <img src="/img/liliandegreef.jpg"/>
        </div>

    </div>
    
    <!-- TODO: move projects.html so it doesn't need to be in _includes directory -->
    <!-- TODO: encapsulate other sections into tidy includes -->
    <!-- <hr> -->
    <div class="section">
        {% include projects.html %}
    </div>
    <div class="section">
        {% include press.html %}
    </div>
    <br>
    <div class="section">
        {% include teaching.html %}
    </div>
    
</div>
